<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Metodo Falsa Posicion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Raiz:</ion-label>
    <ion-input [(ngModel)]="raiz"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Xi:</ion-label>
    <ion-input type="number" [(ngModel)]="xi" min="0"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Xu:</ion-label>
    <ion-input type="number" [(ngModel)]="xu" min="0"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Iteraciones:</ion-label>
    <ion-input type="number" [(ngModel)]="iteraciones" min="0" max="12"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="calcular()">Calcular</ion-button>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <strong>Iteracion</strong>
          <ion-row *ngFor="let d of arrayMosy;let i = index">{{d.iteracion}}</ion-row>
        </ion-col>
        <ion-col>
          <strong>Xi</strong>
          <ion-row *ngFor="let d of arrayMosy;let i = index">{{d.xi}}</ion-row>
        </ion-col>
        <ion-col>
          <strong>Xu</strong>
          <ion-row *ngFor="let d of arrayMosy;let i = index">{{d.xu}}</ion-row>
        </ion-col>
        <ion-col>
          <strong>Xr</strong>
          <ion-row *ngFor="let d of arrayMosy;let i = index">{{d.xr}}</ion-row>
        </ion-col>
        <ion-col>
          <strong>ea%</strong>
          <ion-row *ngFor="let d of arrayMosy;let i = index">{{d.ea}}</ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>